*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
/*   height:100%;
overflow: hidden; */
}

h2 {
  opacity: 1;
  border: 0 solid #eee;}

span  {display:inline-block;  border: 0 solid #eee;}

#container {
  display: none;
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  background: #aaa
}
/* ********************************************************************* */
/*                                                                       */
/*                                  CLASS                                */
/*                                                                       */
/* ********************************************************************* */

.to-anim span {

}

/* ********************************************************************* */
/*                                                                       */
/*                                  LINKS                                */
/*                                                                       */
/* ********************************************************************* */
.btn {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
}
}
.btn.btn-block {
    color: #f6f6f6;
    padding: 10px 0;
    width: 168px;
    display: inline-block;
    text-align: center;
}
.btn.btn-block:hover {
    color: #5cff00;
}
.btn.btn-block span {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: rgba(255,255,255,0.25);
    z-index: -1;
    overflow: hidden;
}

.btn.btn-block span:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1px;
    bottom: -1px;
    background: #5cff00;
    left: 0;
    width: 212px;
    -webkit-transform: skewX(-45deg) translateX(-212px);
    -moz-transform: skewX(-45deg) translateX(-212px);
    -ms-transform: skewX(-45deg) translateX(-212px);
    -o-transform: skewX(-45deg) translateX(-212px);
    transform: skewX(-45deg) translateX(-212px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.btn.btn-block span:after {
      content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: #242422;
    -webkit-transform: rotateX(0.01deg) translateZ(10px);
    -moz-transform: rotateX(0.01deg) translateZ(10px);
    -ms-transform: rotateX(0.01deg) translateZ(10px);
    -o-transform: rotateX(0.01deg) translateZ(10px);
    transform: rotateX(0.01deg) translateZ(10px);
}


/* ********************************************************************* */
/* ///// */
/* MASK  */
/* ///// */
/* ********************************************************************* */


#mask {
  width:100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  background: #fe4554;
  
  z-index: 9999999;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 

}





/* ********************************************************************* */
/* ///// */
/* MENU  */
/* ///// */
/* ********************************************************************* */
#menu--layer {
  display: none;
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  left:0;
  z-index: 9998;
  background: #000;
  opacity: .7;
}
#menu {
  display: flex;
	width:400px;
  position: absolute;
  right:-400px;
  top:0;
  bottom: 0;
  background: #444;
  opacity: .9;
  z-index: 9999;
}

#menu nav {
	width: 100%;
}

#menu ul {
	margin:0;
	padding: 0;
}
#menu ul li {
	width:100%;
	list-style-type: none;
	text-align: center;
	min-height:2em;
}

#menu a {
	display: block;
	align-content: center;
	font-size: 1.5em;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding:.6em 1em;
	color:#fff;
}


#menu--btn {
  position:fixed;
  right: 10px;
  top: 10px;
  text-transform: uppercase;
}


/* ********************************************************************* */
#logo {
  display: none;
  margin:40px auto;
  z-index: 200;
  width:400px;
  height:400px;
  transform: rotate(45deg);
  background: #eee;
  outline: 4px double #ddd;
  outline-offset: 8px; 
  transition: .5s cubic-bezier(.23,1,.32,1)
}

#logo:hover {
  width:420px;
  height:420px;
  box-shadow: 3px -3px 5px 0 #999;

}


/* ANIMAATION*/

.animeted-text {
 
  transition:all 1s;

 animation-duration: 3s;
  animation-name: slidein;

 }

 .animeted-text.start {
  transform: rotate(45deg);
 }

@keyframes slidein {
  from {
    margin-left: 300%;
    
  }

  to {
    margin-left: 0%;
    
  }
}